html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    color: #000;
    font-weight: bold;
}

.content {
    padding-top: 1px;
    margin-top: 10px;
    width: 100%;
}

.fundos {
    height: 50vh;
    /* Flexbox */
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.fundo-inicio {
    background-image: url('../images/fundo-inicio.jpg');
}

.fundo-quem {
    background-image: url('../images/fundo-quem.jpg');
}

.fundo-atuacao {
    background-image: url('../images/fundo-atuacao.jpg');
}

.fundo-contato {
    background-image: url('../images/fundo-contato.jpg');
}

.fundo-portfolio {
    background-image: url('../images/fundo-portfolio.jpg');
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 10px;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 10px;
    text-align: center;
}

p {
    font-size: 1em;
    margin-left: 25px;
    margin-right: 10px;
}

.p-atuacao {
    text-align: center;
}

.icon {
    text-align: center;
    height: 100px;
}


.clear {
    clear: both;
}

.footer-site {
    height: 120px;
    width: 100%;
    background-color: #999;
    clear: both;
    text-align: center;
    padding-top: 50px;
}

#home {
    margin-bottom: 30px;
}

#quem {
    margin-top: 10px;
    margin-bottom: 30px;
}

#atuacao {
    margin-top: 10px;
    margin-bottom: 30px;
}

#portfolio {
    margin-top: 10px;
    margin-bottom: 30px;
}

#contato {
    margin-top: 10px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    background-attachment: #dedede;
}

.subtitulo {
    font-size: 12;
    font-weight: bold;
    text-align: left;
}