@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.fundos {
  height: 50vh;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

/* Responsive Navigation */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: rgb(0, 0, 0);  
}

.menu-item {
  padding: 10px;
  color: rgba(222, 222, 222, 1);
  text-align: center;
}

.menu-item:last-child {
  margin-bottom: 20px; /* Add some space below the last menu item */
}

.img-bandeira {
  height: 20px;
}

/* Main Content */
.conteudo {
  padding: 18px;
}

.lista-atuacao {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
}

.lista-atuacao-item {
  flex: 1; /* Each item takes equal space */
  max-width: 300px; /* Limit maximum width of items */
  margin: 10px;
  padding: 10px;
  background-color: #dedede;
  border-radius: 20px;
}

/* Contact Section */
.lista-contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.lista-contato-item {
  flex: 1;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #dedede;
  border-radius: 20px;
}

/* Footer */
.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px;
  height: 20px;
}